[submodule "vendor/github.com/gorilla/websocket"]
	path = vendor/github.com/gorilla/websocket
	url = https://github.com/gorilla/websocket
[submodule "vendor/github.com/sensiblecodeio/hookbot"]
	path = vendor/github.com/sensiblecodeio/hookbot
	url = https://github.com/sensiblecodeio/hookbot
